header {
	background-color: #957C44;

}


.navbar .nav  li  a {
	padding-left: 2em;
	
	font-size: 1.5em ;
	/*border-left: solid #393A35 ;*/
	
	
}

li a#peque  {
	font-style: italic;
font-size: 1em;
}
li a#peque1  {
	color: #457106;
	line-height: .3em;
	font-style: bold;
	font-size: 1.1em;
}




#botonbuscar {
	margin-left: 5px;
	font-size: .9em;
	width: 100px;
}

h3#Tlogin ,h3#grande{
	font-size: 2em;
}
input#pass, input#usuario{
	width: 90%;
	margin-left: 25px;
}

a#recuperar ,a#registro{
	font-size: 1em;
	
}
button#btnlogin{

	margin-left: 150px;
}
div#contenedorlogin{
	width: 95%;
}

h1#librero{
	font-size: 3em;
	color: black;
	/*font-style: italic ;*/
}

img#fotodeperfil{

	width: 200px ;
	height: 200px ;
	border-radius: 50%;
	border: solid #66971F;
	box-shadow:1px 1px 30px 4px rgba(0,0,0,0.4);
}

h1#nombredeperfil{
	color: black;
	font-size: 2em;
	text-align: center;
}
img#librodestacado{
	border-radius: 5%;
	border: solid #66971F;
	box-shadow:1px 1px 30px 4px rgba(0,0,0,0.4);
}

#enlibrero{
	margin: 2em;
	float: left;
}
#enlibrero p{
	text-align: center;
}

a#editarperfil{
	margin-bottom: 50px;
}
#ficha{
	float: left;
}

.ec-stars-wrapper {
	font-size: 0;
	display: inline-block;
}
.ec-stars-wrapper a {
	text-decoration: none;
	display: inline-block;
	font-size: 32px;
	font-size: 2rem;
	
	color: #888;
}

.ec-stars-wrapper:hover a {
	color: rgb(39, 130, 228);
}
.ec-stars-wrapper > a:hover ~ a {
	color: #888;
}
#userreview{
	padding-left: 5em;
	height: 28em;
	overflow: scroll;
	border-left: 2px solid #82B33A;
}
#ficha{
	text-align: center;
}
.fichac{
	border-left: 2px solid #82B33A;
	border-right: 2px solid #82B33A;
}
