header {
	background-color: #957C44;

}


.navbar .nav  li  a {
	padding-left: 2em;
	
	font-size: 1.5em ;
	/*border-left: solid #393A35 ;*/
	
	
}

li a#peque  {
	font-style: italic;
font-size: 1em;
}
li a#peque1  {
	color: #457106;
	line-height: .3em;
	font-style: bold;
	font-size: 1.1em;
}




#botonbuscar {
	margin-left: 5px;
	font-size: .9em;
	width: 100px;
}

h3#Tlogin ,h3#grande{
	font-size: 2em;
}
input#pass, input#usuario{
	width: 90%;
	margin-left: 25px;
}

a#recuperar ,a#registro{
	font-size: 1em;
	
}
button#btnlogin{

	margin-left: 150px;
}
div#contenedorlogin{
	width: 95%;
}


ul
{
  width: 30em;  /* room for 3 columns */
}
ul li
{
  float: left;
  width: 13em;  /* accommodate the widest item */
}
/* stop the floating after the list */
br
{
  clear: left;
}
/* separate the list from what follows it */
div.wrapper
{
  margin-bottom: 1em;
}
/* anchor styling */
ul li a
{
  display: block;
  width: 7em;
  text-decoration: none;
}
ul li a:hover
{
  color: #FFF; 
  background-color: #C0B435; 
}